body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Stile für das Dashboard */
.cars-dashboard {
  display: flex;
}

.cars-sidebar {
  width: 50px;
  background-color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.cars-icon {
  background-color: #555;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.cars-main-content {
  flex-grow: 1;
  background-color: #f4f4f4;
  padding: 20px;
}

.cars-content-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cars-content-button:hover {
  background-color: #005f73;
}

/* Spezifische Stile für die Seite */
.cars-image-placeholder {
  width: 100%;
  height: 100px;
  background-color: orange; /* Orange für die Cars-Seite */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
