# Java specific
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr

# Eclipse specific
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific
.vscode/

# macOS specific
.DS_Store

# Angular specific
AngularFrontendCarRental2024/node_modules/
AngularFrontendCarRental2024/dist/
AngularFrontendCarRental2024/.angular-cache/

# other common directories to ignore
build/
node_modules/


