/* Spezifische Stile für die Cars-Seite */
.rentals-image-placeholder {
  width: 100%;
  height: 100px;
  background-color: blueviolet; /* Violett für die Rentals-Seite */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
